<nav class="navbar navbar-expand-lg navbar-themed">
  <a class="navbar-brand" href="{{ site.baseurl }}/"
    ><h5><b>Sravan Kumar Peruri</b></h5></a
  >

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-1x fa-bars text-themed"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <!-- Static Navigation Links -->
      <!-- <a
        class="nav-item nav-link {% if page.url contains '/projects/' %}active{% endif %}"
        href="{{ '/projects/' | relative_url }}"
        >Projects</a
      > -->

      <!-- <a
        class="nav-item nav-link {% if page.url contains '/blog/' %}active{% endif %}"
        href="{{ '/blog/' | relative_url }}"
        >Blog</a
      > -->

      <a
        class="nav-item nav-link {% if page.url contains '/about/' %}active{% endif %}"
        href="{{ '/about/' | relative_url }}"
        >About</a
      >

      <!-- GitHub Link -->
      <a
        class="nav-item nav-link"
        href="https://github.com/SravanKumarPeruri"
        target="_blank"
      >
        <i class="fab fa-1x fa-github"></i>
      </a>

      <!-- LinkedIn Link -->
      <a
        class="nav-item nav-link"
        href="https://www.linkedin.com/in/sravan-kumar-b743b2212/"
        target="_blank"
      >
        <i class="fab fa-1x fa-linkedin"></i>
      </a>

      <!-- Gmail Link -->
      <a
        class="nav-item nav-link"
        href="mailto:sravankumarperuri@gmail.com"
        target="_blank"
      >
        <i class="fas fa-1x fa-envelope"></i>
      </a>

      <!-- Theme Toggler -->
      <span
        id="theme-toggler"
        class="nav-item nav-link"
        role="button"
        onclick="toggleTheme()"
      ></span>
    </div>
  </div>
</nav>
